$background-image: url("../img/0.jpg") no-repeat top;

$colorMainNav: lightgray;
$colorReviewsSectionbg: #8D6F79;
$colorReviewsHeader: #B1909B;
$colorReviewsContainerbg: #9E7A86;
$colorPersonReview: lightgray;
$colorFindSectionbg: #8595A2;
$colorFindHeader: #B0C0CD; 
$colorFindInput: gray;
$colorFooterBackground: #3D5585;
$colorFooterHeaders: #6493E8;
$colorFooterCopy: #092453;
$colorFooterNavs: #577ABC;
$colorFooterSend: #09285D;



$map-colors: (
	background: $colorFooterBackground
);

$img-1:('../img/1.jpg');
$img-2:('../img/2.jpg');
$img-3:('../img/3.jpg');
