$background-image: url("../img/4.jpg") no-repeat top;

$colorMainNav: #4F2B47;
$colorReviewsSectionbg: #8A6F8D;
$colorReviewsHeader: #CAA2CB;
$colorReviewsContainerbg: #CAA2CB;
$colorPersonReview: #fff;
$colorFindSectionbg: #9F86A2;
$colorFindHeader: #5C3856; 
$colorFindInput: #695668;
$colorFooterBackground: #5D3D85;
$colorFooterHeaders: #B965FE;
$colorFooterCopy: #521667;
$colorFooterNavs: #7B42C0;
$colorFooterSend: #4F0A5E;



$map-colors: (
	background: $colorFooterBackground
);

$img-1:('../img/5.jpeg');
$img-2:('../img/6.jpg');
$img-3:('../img/7.jpg');
